
body, html{
    height: 100%;
}
.background-image{
   margin-top: 140px;
   background-image: url("../picture/background3.jpg");
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 10px;
   border-radius: 3px;
   
   
}
.image{
    width: 100%;
    border-radius: 2px;
    
}
.main-site{
    height: 780px;
    margin-left: 200px;
    margin-right: 200px;
    opacity: 0.9;
    background-color: white;
    border-radius: 3px;
}

.teksti{
   font-family: roboto;
   font-size: 15px;
    padding: 30px;

}

#otsikko{
    height: 100px;
    font-size: 20px;
    text-align: center;
}

#vetovalikko, #käyttötunnit, #käyttöminuutit{
    
    font-family: roboto;
}

#käyttötunnit:invalid, #käyttöminuutit:invalid {
    background-color:rgb(235, 145, 145)
    

}

#pörssisähkö, #kiinteäsähkö
{
    
    font-family: roboto;

}
.laske{
    margin-top: 20px;
    margin-left: 28px;
}
.laske:hover{
 cursor: pointer;
}
.laske:active{
    opacity: 0.9;
}


#tulos, #laskettu{
    border: 2px;
    font-size: 30px;
    font-family: roboto;
    text-align: center;
}

a:visited, a:link{
    color: grey;

}