

.main-backround{
    display: flex;
    height: 1500px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 100px;
    background-color: white;
    
}

.otsikko{
    font-family: roboto;
    font-size: 20px;
    text-align:  center;
}